@keyframes ldio-yqloeu51xgc {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-yqloeu51xgc > div {
  transform-origin: 100px 100px;
  animation: ldio-yqloeu51xgc 0.3194888178913738s infinite linear;
}
.ldio-yqloeu51xgc > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #f1a80a;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-yqloeu51xgc > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-yqloeu51xgc > div div:nth-child(6) {
    width: 80px;
    height: 80px;
    background: #f1a80a;
    border-radius: 50%;
}.ldio-yqloeu51xgc > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-yqloeu51xgc > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-yqloeu51xgc > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-rv8r4i6ur2k {
  width: 98%;
  height: 96%;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  background: rgb(19, 18, 18);
  display: block;
}

.loadingio-spinner-gear-rv8r4i6ur2k_active {
  display: none;
}

.ldio-yqloeu51xgc {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yqloeu51xgc div { box-sizing: content-box; }