$main-background: rgb(19, 18, 18);
$user-active-tab: #ffbb00;
$user-disable-tab: rgb(138, 107, 31);
$company-active-tab: #8a1739;
$company-disable-tab: #4e0d21;
$accept-color: green;
$reject-color: red;