.offer {
    border: 1px solid rgb(255, 255, 255);
    padding: 25px 35px;
    border-radius: 10px;

    &__title {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__btn {
        background: rgb(252, 185, 1);
        color: white;
        padding: 5px 10px;
        border-radius: 3px;

        &:disabled {
            background: #695b34;
            cursor: default;
        }
    }
}

.content__projects-offer:not(:last-child) {
    margin-bottom: 20px;
}

@media(max-width: 600px) {
    .offer {
        padding: 15px;  
    }
}

@media(max-width: 450px) {
    .content__projects-card-text_title, .offer__title {
        font-size: 20px;
    }
}